.container {
    padding: 2rem 0rem;
}

.form {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

#atag{
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.table-image th,
td {
    vertical-align: middle;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}